<div class="container">
  <h1><%= @cocktail.name %></h1>

  <% if @cocktail.photo != nil %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
   <p> no picture for this cocktail </p>
  <% end %>

  <h3>Recipe</h3>

  <br>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> <%=dose.ingredient.name %> -
            <%= link_to dose_path(dose.id), method: "delete", data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  <br>

  <div class="dose">
    <h1>Add a new dose</h1>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.input :ingredient_id, collection: Ingredient.all  %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <br>
  <br>

  <p><%= link_to "Delete this cocktail", cocktail_path(@cocktail.id), method: "delete", data: { confirm: "Are you sure?" } %></p>
  <p><%= link_to "Back to cocktail list", cocktails_path %></p>

</div>
